body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

#status {
    position: absolute;
    top: 20%;
    left: calc(50% - 400px / 2);
    width: 400px;
    background: #ddd;
    padding: 5px;
    border: 1px solid #bfbfbf;
}

#canvas {
    width: 1000px;
    height: 560px;
    border: 1px solid red;
    position: relative;
    margin-left: 100px;
}

.obj_block, .obj_desk_item {
    width: 3px;
    height: 3px;
    position: absolute;

    transition: all 100ms ease-in;
    transform-origin: right bottom;
}

.obj_block {
    background-color: black;
    border-radius: 50%;
}

.game-obj {
    background-size: cover;
}

.obj_desk_card, .obj_player_card {
    width: 70px;
    height: 98px;
    background-size: cover;
}

#debug {
    font-family: monospace;
}

.obj_player_card {
    transition: all 100ms ease-in;
}
.obj_player_card.hover {
    /*transform: scale(1.05);*/
    margin-top: -15px;
}
.player-0 .obj_player_card, .obj_desk_card {
    box-shadow: 3px 3px 3px #595959;
}

.players {
    width: 420px;
    position: absolute;

    /*background-color: #eee;*/
    /*box-shadow: 0 0 10px #f3f3f3;*/
    border: 2px solid #eee;

    display: flex;
    flex-direction: column;
}
.players .cards {
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.players .name {
    padding: 0 10px;
    font-size: 25px;
    height: 32px;
    line-height: 32px;
}
.player-0 {
    width: calc(100% - 250px * 2);
    left: 250px;
    bottom: 0;
}
.player-1 {
    transform: rotate(-0.25turn) scale(0.65) translateX(calc(-200% - 19px));
    transform-origin: left top;

    left: 0;
    top: 0;
}
.player-2 {
    transform: rotate(-0.25turn) scale(0.65) translateX(-100%);
    transform-origin: left top;

    left: 0;
    top: 0;
}
.player-3 {
    transform: rotate(0.25turn) scale(0.65) translateX(100%);
    transform-origin: right top;

    right: 0;
    top: 0;
}
.player-4 {
    transform: rotate(0.25turn) scale(0.65) translateX(calc(200% + 19px));
    transform-origin: right top;

    right: 0;
    top: 0;
}
.hanabis {
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 250px);
    height: 140px;
    width: 500px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.self-command-pallet {
    position: absolute;
    left: calc(50% - 140px / 2);
    bottom: calc(100% + 15px);
    width: 140px;

    display: flex;
    justify-content: space-between;
}
.self-command-pallet button {
    padding: 7px;
    width: 60px;
}
.others-command-pallet {
    position: absolute;
    width: 150px;
    margin-top: -5px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.others-command-pallet button {
    padding: 7px;
}

#msg-box {
    display: flex;
    flex-direction: column;

    height: 300px;
    width: 400px;
    margin: 20px;
    border: 1px solid #ddd;
}
#msg-box .msg-log {
    flex-grow: 1;
    overflow: auto;
}
#msg-box .send {
    height: 25px;
    flex-grow: 0;
    padding: 2px;
}
#msg-box .send input {
    width: 300px;
}
#msg-box .send button {
    margin-left: 20px;
}
