body {
    margin: 0;
    padding: 0;
}

#canvas {
    width: 1000px;
    height: 560px;
    border: 1px solid red;
    position: relative;
    margin-left: 100px;
}

.obj_block, .obj_desk_item {
    width: 10px;
    height: 10px;
    position: absolute;

    transition: all 100ms ease-in;
    transform-origin: right bottom;
}

.obj_block {
    background-color: black;
    /*border-radius: 50%;*/
}

.game-obj {
    background-size: cover;
}

.obj_desk_card {
    width: 70px;
    height: 98px;
    background-size: cover;
}

#debug {
    font-family: monospace;
}

.obj_player_card {
    transition: all 100ms ease-in;
}
.obj_player_card.hover {
    transform: scale(1.1);
    margin-top: -10px;
}

.player-others, .player-self {
    height: 120px;
    width: calc(100% - 500px);
    position: absolute;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-0 {
    left: 250px;
    bottom: 0;
    outline: 1px solid pink;
}
.player-1 {
    transform: rotate(-0.25turn) scale(0.5) translateX(calc(-200% + -50px));
    transform-origin: left top;

    left: 0;
    top: 0;
    outline: 1px solid lightblue;
}
.player-2 {
    transform: rotate(-0.25turn) scale(0.5) translateX(-100%);
    transform-origin: left top;

    left: 0;
    top: 0;
    outline: 1px solid darkgreen;
}
.player-3 {
    transform: rotate(0.25turn) scale(0.5) translateX(100%);
    transform-origin: right top;

    right: 0;
    top: 0;
    outline: 1px solid darkgreen;
}
.player-4 {
    transform: rotate(0.25turn) scale(0.5) translateX(calc(200% + 50px));
    transform-origin: right top;

    right: 0;
    top: 0;
    outline: 1px solid darkgreen;
}

.hanabis {
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 250px);
    height: 140px;
    width: 500px;

    outline: 1px solid #eee;

    display: flex;
    justify-content: space-around;
    align-items: center;
}