body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

body > .render {
    display: flex;
    flex-direction: column;
}

#status {
    position: absolute;
    top: 210px;
    left: calc(50% - 450px / 2);
    width: 450px;
    background: #ddd;
    padding: 5px;
    border: 1px solid #bfbfbf;
    text-align: center;
}

#canvas {
    width: 1000px;
    height: 560px;
    position: relative;
    align-self: center;
    background-color: #dcf7da;
    /* border: 1px solid #f0f0f0; */
    background: radial-gradient(circle at 50% 59%, #D2CAAB 3%, #364E27 4%, #364E27 11%, rgba(54,78,39,0) 12%, rgba(54,78,39,0)) 50px 0, radial-gradient(circle at 50% 41%, #364E27 3%, #D2CAAB 4%, #D2CAAB 11%, rgba(210,202,171,0) 12%, rgba(210,202,171,0)) 50px 0, radial-gradient(circle at 50% 59%, #D2CAAB 3%, #364E27 4%, #364E27 11%, rgba(54,78,39,0) 12%, rgba(54,78,39,0)) 0 50px, radial-gradient(circle at 50% 41%, #364E27 3%, #D2CAAB 4%, #D2CAAB 11%, rgba(210,202,171,0) 12%, rgba(210,202,171,0)) 0 50px, radial-gradient(circle at 100% 50%, #D2CAAB 16%, rgba(210,202,171,0) 17%), radial-gradient(circle at 0% 50%, #364E27 16%, rgba(54,78,39,0) 17%), radial-gradient(circle at 100% 50%, #D2CAAB 16%, rgba(210,202,171,0) 17%) 50px 50px, radial-gradient(circle at 0% 50%, #364E27 16%, rgba(54,78,39,0) 17%) 50px 50px;
    background-color: #63773F;
    background-size:100px 100px;
}

.obj_block, .obj_desk_item {
    width: 3px;
    height: 3px;
    position: absolute;

    transition: all 100ms ease-in;
    transform-origin: right bottom;
}

.obj_block {
    background-color: black;
    border-radius: 50%;
}

.obj_desk_card, .obj_player_card {
    width: 70px;
    height: 98px;
    background-size: cover;
}

#debug {
    font-family: monospace;
}

.obj_player_card {
    transition: all 100ms ease-in;
}
.obj_player_card.hover {
    /*transform: scale(1.05);*/
    margin-top: -15px;
}
.player-0 .obj_player_card, .obj_desk_card {
    box-shadow: 3px 3px 3px #595959;
}

.players {
    width: 420px;
    position: absolute;
    background-color: #ffffffbd;
    /* box-shadow: 0 0 10px #f3f3f3; */
    /* border: 2px solid #e4e4e4; */
    display: flex;
    flex-direction: column;
}
.players .cards {
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.players .name {
    padding: 0 10px;
    font-size: 25px;
    height: 32px;
    line-height: 32px;
}
.player-0 {
    width: calc(100% - 250px * 2);
    left: 250px;
    bottom: 0;
    padding: 0 10px;
}
.player-1 {
    transform: rotate(-0.25turn) scale(0.65) translateX(calc(-200% - 19px));
    transform-origin: left top;

    left: 0;
    top: 0;
}
.player-2 {
    transform: rotate(-0.25turn) scale(0.65) translateX(-100%);
    transform-origin: left top;

    left: 0;
    top: 0;
}
.player-3 {
    transform: rotate(0.25turn) scale(0.65) translateX(100%);
    transform-origin: right top;

    right: 0;
    top: 0;
}
.player-4 {
    transform: rotate(0.25turn) scale(0.65) translateX(calc(200% + 19px));
    transform-origin: right top;

    right: 0;
    top: 0;
}
.hanabis {
    position: absolute;
    top: 250px;
    left: calc(50% - 250px);
    height: 118px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffffbd;
    border-radius: 14px;
}
.self-command-pallet {
    position: absolute;
    left: calc(50% - 140px / 2);
    bottom: calc(100% + 10px);
    width: 140px;

    display: flex;
    justify-content: space-between;
}
.self-command-pallet button {
    padding: 7px;
    width: 60px;
}
.others-command-pallet {
    position: absolute;
    width: 150px;
    margin-top: -5px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.others-command-pallet button {
    padding: 7px;
}

#msg-box {
    position: absolute;
    top: 0;
    left: calc(50% - 400px / 2);
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 400px;
    /* border: 1px solid #eaeaea; */
    background-color: #f5f3f3;
    padding: 7px;
}
#msg-box .msg-log {
    flex-grow: 1;
    overflow: auto;
}
#msg-box .msg-log .line.system-msg {
    font-style: italic;
}
#msg-box .send {
    height: 25px;
    flex-grow: 0;
    padding: 2px;
}
#msg-box .send input {
    width: 300px;
}
#msg-box .send button {
    margin-left: 20px;
}
